<!DOCTYPE html>
<html lang="zh-cn">

<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>

<style>
  themeBox {  
      text-align: center;
      padding: 10px;
      background-color: rgba(45, 45, 45, 0.1);
  }
  p {
	text-align: center; 
  }
  .links {
    margin-right: 20px;
	  color: blue;
  }
  .fullCard {
  	position: relative;
  	background-color: rgba(250, 250, 211, 0.1);
  	width: 60%;
  	text-align: center;
  	right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 1px;
    margin-bottom: 6px;
  }
  .cardContent {
    margin: auto;
    text-align: center;
    flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 2px;
  }
  .cardText {
    margin: auto;
    margin-bottom: 1px;
    text-align: center;
  }
</style>
</head>

<body>
    <div id="wrapper">
    {{ partial "header.html" . }}
    <br>
   
<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">

      <p> Click on a Theme below to go to a summary of the four posts about that Theme. </p>
    </div>
    <div class="cardLinks">
      	<a href="https://themesfromart.com/post/2021-02-03-alcohol-wide-view/alcohol-wide-angle/" target="_blank" class="links">Alcohol</a>
      	<a href="https://themesfromart.com/post/2021-04-21-beauty-additional-subthemes/beautyaddl/" target="_blank" class="links">Beauty</a>  
      	<a href="https://themesfromart.com/post/2021-06-14-birds-additional-sub-themes/birdsadditional/" target="_blank" class="links">Birds</a>
      	<a href="https://themesfromart.com/post/2022-01-02-books-additional-subthemes/booksaddl/" target="_blank" class="links">Books</a> 
      	<a href="https://themesfromart.com/post/2021-07-26-bridges-additional-subthemes/bridgesaddl/" target="_blank" class="links">Bridges</a>
	      <a href="https://themesfromart.com/post/2021-03-14-chanceadditional/chanceaddl/" target="_blank" class="links">Chance</a>  
	       <a href="https://themesfromart.com/post/2021-05-21-churches-additional/churchesaddl/" target="_blank" class="links">Churches</a>
	       <a href="https://themesfromart.com/post/2021-08-30-clothes-additional-subthemes/clothesaddl/" target="_blank" class="links">Clothes</a> 
	       <a href="https://themesfromart.com/post/2021-09-09-dancing-additional-subthemes/dancingaddl/" target="_blank" class="links">Dancing</a>  
	      <a href="https://themesfromart.com/post/2021-05-03-death-additional/deathaddl/" target="_blank" class="links">Death</a>  
	      <a href="https://themesfromart.com/post/2021-02-10-decisions-a-wider-angle-view/decisionswiderangle/" target="_blank" class="links">Decisions</a>  
	      <a href="https://themesfromart.com/post/2021-02-18-destruction-a-wider-angle/destructionwide/" target="_blank" class="links">Destruction</a>
	      <a href="https://themesfromart.com/post/2022-01-14-dogs-additional-subthemes/dogsaddl/" target="_blank" class="links">Dogs</a>
	      	      <a href="https://themesfromart.com/post/2021-12-17-fire-additional-subthemes/fireaddl/" target="_blank" class="links">Fire</a>
	      <a href="https://themesfromart.com/post/2021-06-20-friends-additional-subthemes/friendsaddl/" target="_blank" class="links">Friends</a>
	        <a href="https://themesfromart.com/post/2021-10-15-money-additional-subthemes/moneyaddl/" target="_blank" class="links">Money</a>
	        <a href="https://themesfromart.com/post/2021-11-05-night-additional-subthemes/nightaddl/" target="_blank" class="links">Night</a>
	      <a href="https://themesfromart.com/post/2021-10-03-rivers-additional-subthemes/riversaddl/" target="_blank" class="links">Rivers</a>
	      <a href="https://themesfromart.com/post/2021-06-27-sailing-ships-additional-subthemes/sailingships-addl/" target="_blank" class="links">Sailing Ships</a>
	      <a href="https://themesfromart.com/post/silenceadditional/" target="_blank" class="links">Silence</a>
	      <a href="https://themesfromart.com/post/2021-09-22-sleep-additional-subthemes/sleepaddl/" target="_blank" class="links">Sleep</a>
	      <a href="https://themesfromart.com/post/2021-08-02-soldiers-additional-subthemes/soldiersaddl/" target="_blank" class="links">Soldiers</a> 
	      <a href="https://themesfromart.com/post/2021-07-12-sports-additional-subthemes/sportsaddl/" target="_blank" class="links">Sports</a>
	      <a href="https://themesfromart.com/post/2021-11-22-thinking-additional-subthemes/thinkingaddl/" target="_blank" class="links">Thinking</a> 
	      <a href="https://themesfromart.com/post/2021-03-09-time-additional/timeadditional/" target="_blank" class="links">Time</a>  
	      <a href="https://themesfromart.com/post/2021-05-10-trains-additional-subthemes/trainsaddl/" target="_blank" class="links">Trains</a>  
	      <a href="https://themesfromart.com/post/2021-12-03-thinking-additional-subthemes/visionaddl/" target="_blank" class="links">Vision</a>  
	      <a href="https://themesfromart.com/post/2021-08-11-wind-additional-subthemes/windaddl/" target="_blank" class="links">Wind</a>  
	       <a href="https://themesfromart.com/post/2021-02-26-workadditional/workperspective/" target="_blank" class="links">Work</a> 
    </div>
  </div>
</div>

<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">

      <p> If you are interested in a compilation of all the blog posts so far, please look forward -- not yet! to clicking <a href="LeanPub.com" target="_blank" class="links" >here to visit LeanPub enjoying the book.</a> </p>
    </div>
  </div>
</div> 

    <main id="main" class="post">
      <!-- sections -->
      {{ if ne .Section "post" }}
      <div class="content">
        {{ .Content }}
      </div>
      {{ else }}
      <!-- post -->
      <h1>{{ .Title }}</h1>
      {{ if ne .Params.tags nil }}
      <div>
        <b>Subthemes: </b>
        {{ range .Params.tags }}
        <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      <div class="content">
        {{ if .Site.Params.enableHanEmph }}
        {{ .Content | replaceRE "<strong>(\\p{Han}+?)</strong>" "<strong class=chinese>$1</strong>" | safeHTML }}
        {{ else }}
        {{ .Content }}
        {{ end }}
      </div>
      <div class="paginator">
        {{ if .PrevInSection }}
        <a class="link" href="{{ .PrevInSection.Permalink }}">← prev</a>
        {{ else }}
        <a></a>
        {{ end }}
        {{ if .NextInSection }}
        <a class="link" href="{{ .NextInSection.Permalink }}">next →</a>
        {{ else }}
        <a></a>
        {{ end }}
      </div>
      <div class="comment">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "foot.html" . }}
</body>

</html>
