<!DOCTYPE html>
<html lang="zh-cn">

<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>
</head>

<style>
  themeBox {  
      text-align: center;
      padding: 10px;
      background-color: rgba(45, 45, 45, 0.1);
  }
  p {
	text-align: justify; 
  }
  .links {
    margin-right: 20px;
	  color: blue;
  }
  .fullCard {
  	position: relative;
  	background-color: rgba(250, 250, 211, 0.1);
  	width: 60%;
  	text-align: center;
  	right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1px;
  }
  .cardContent {
    margin: auto;
    text-align: center;
    flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 2px;
  }
  .cardText {
    margin-bottom: 1px;
    text-align: center;
  }
</style>

<body>
    <div id="wrapper">
    {{ partial "header.html" . }}
    <br>
<!-- https://stackoverflow.com/questions/4108726/how-to-spread-elements-horizontally-evenly 
    
    <div class="themeSidebar" style="display: flex; 
    justify-content: space-evenly;
    padding: 10px; 
    border: 2px gray;
    font-size: 20px;
    width: 50%;
    vertical-align: middle;
    text-align: center;"
      {{ range (slice "[Alcohol](https://themesfromart.com/post/2021-02-03-alcohol-wide-view/alcohol-wide-angle/)" "[Beauty](https://themesfromart.com/post/2021-04-21-beauty-additional-subthemes/beautyaddl/)" "[Chance](https://themesfromart.com/post/2021-03-14-chanceadditional/chanceaddl/)" "[Death](https://themesfromart.com/post/2021-05-03-death-additional/deathaddl/)" "[Decisions](https://themesfromart.com/post/2021-02-10-decisions-a-wider-angle-view/decisionswiderangle/)" "[Destruction](https://themesfromart.com/post/2021-02-18-destruction-a-wider-angle/destructionwide/)" "[Silence](https://themesfromart.com/post/2021-03-14-chanceadditional/chanceaddl/)" "[Time](https://themesfromart.com/post/2021-03-09-time-additional/timeadditional/)" "[Trains](https://themesfromart.com/post/2021-05-10-trains-additional-subthemes/trainsaddl/)" "[Work](https://themesfromart.com/post/2021-02-26-workadditional/workperspective/)") }}
        {{ . | markdownify }} <br>
      {{ end }}
    </div>
    
    <div style="background: white; 
            font-size: 20px; 
            padding: 5px; 
            border: 1px solid lightgray; 
            margin: 5px;">
  Click on a Theme in the box above to go to a summary of the four posts about the Theme.
    </div> -->
    
<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
  <!--<themeBox>Alcohol Beauty Chance Death Decisions Destruction Silence Time Trains Work</themeBox>-->
      <p> Click on a Theme below to go to a summary of the four posts about that Theme. </p>
    </div>
    <div class="cardLinks">
      	<a href="https://themesfromart.com/post/2021-02-03-alcohol-wide-view/alcohol-wide-angle/" target="_blank" class="links">Alcohol</a>
      	<a href="https://themesfromart.com/post/2021-04-21-beauty-additional-subthemes/beautyaddl/" target="_blank" class="links">Beauty</a>  
	<a href="https://themesfromart.com/post/2021-03-14-chanceadditional/chanceaddl/" target="_blank" class="links">Chance</a>  
	<a href="https://themesfromart.com/post/2021-03-14-chanceadditional/chanceaddl/" target="_blank" class="links">Death</a>  
	<a href="https://themesfromart.com/post/2021-02-10-decisions-a-wider-angle-view/decisionswiderangle/" target="_blank" class="links">Decisions</a>  
	<a href="https://themesfromart.com/post/2021-02-18-destruction-a-wider-angle/destructionwide/" target="_blank" class="links">Destruction</a>
	<a href="https://themesfromart.com/post/silenceadditional/" target="_blank" class="links">Silence</a>  
	<a href="https://themesfromart.com/post/2021-03-09-time-additional/timeadditional/" target="_blank" class="links">Time</a>  
	<a href="https://themesfromart.com/post/2021-05-10-trains-additional-subthemes/trainsaddl/" target="_blank" class="links">Trains</a>  
	<a href="https://themesfromart.com/post/2021-02-26-workadditional/workperspective/" target="_blank" class="links">Work</a>  
    </div>
  </div>
</div>

    
    <main id="main" class="post">
      <!-- sections -->
      {{ if ne .Section "post" }}
      <div class="content">
        {{ .Content }}
      </div>
      {{ else }}
      <!-- post -->
      <h1>{{ .Title }}</h1>
      {{ if ne .Params.tags nil }}
      <div>
        <b>Subthemes: </b>
        {{ range .Params.tags }}
        <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      <div class="content">
        {{ if .Site.Params.enableHanEmph }}
        {{ .Content | replaceRE "<strong>(\\p{Han}+?)</strong>" "<strong class=chinese>$1</strong>" | safeHTML }}
        {{ else }}
        {{ .Content }}
        {{ end }}
      </div>
      <div class="paginator">
        {{ if .PrevInSection }}
        <a class="link" href="{{ .PrevInSection.Permalink }}">← prev</a>
        {{ else }}
        <a></a>
        {{ end }}
        {{ if .NextInSection }}
        <a class="link" href="{{ .NextInSection.Permalink }}">next →</a>
        {{ else }}
        <a></a>
        {{ end }}
      </div>
      <div class="comment">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "foot.html" . }}
</body>

</html>
